.manage-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;

  .add-option {
    a {
      padding: 8px 14px;
      text-decoration: none;
      color: #2271b1;
      border: 1px solid #2271b1;
      background: #f6f7f7;
      border-radius: 6px;
    }
  }
}

.fil-name-popup {
  position: fixed;
  display: none;
  right: 0;
  top: 0;
  width: calc(100% - 160px);
  height: 100vh;
  justify-content: center;
  align-items: center;

  &.active {
    display: flex;
  }

  .popup-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
    z-index: 1;
  }

  .popup-content {
    display: block;
    position: relative;
    z-index: 2;
    max-width: 400px;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    background: #fff;
    border-radius: 10px;
    padding: 24px;

    .title {
      font-size: 26px;
      line-height: 1.5;
      text-align: center;
      margin-bottom: 12px;
    }

    .input-holder {
      width: 100%;

      input {
        width: 100%;
        margin-bottom: 12px;
        height: 36px;

      }
    }

    .submit-holder {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      button {
        padding: 8px 14px;
        text-decoration: none;
        color: #2271b1;
        border: 1px solid #2271b1;
        background: #f6f7f7;
        border-radius: 6px;
      }
    }
  }
}

.configurations-container {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 30px;
  row-gap: 30px;
  width: 100%;
  margin-top: 20px;

  .configurations-side {
    width: 100%;
    box-sizing: border-box;
    padding: 0 12px;
    height: 100%;
    overflow-y: auto;
    display: grid;
    column-gap: 20px;
    grid-template-columns: 60% auto;

    .grid-post-data {
      grid-template-columns: 1fr;
      .half-height-tab {
        height: 160px;
        row-gap: 10px;
      }
    }

    .tab-item {
      margin-bottom: 12px;
      border: .3px solid #222;
      border-radius: 12px;
      overflow: hidden;



      .tab-heading {
        font-size: 14px;
        line-height: 1.5;
        font-weight: 500;
        padding: 6px 8px;
        background: #49a39d22;
      }

      .tab-content {
        border-top: .3px solid #2222;
        padding: 12px 8px;
        max-height: 330px;
        box-sizing: border-box;

        &.grid-tab {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          column-gap: 20px;

          .tab-side {
            height: 100%;
            max-height: 330px;
            overflow-y: auto;
            padding-left: 10px;
            padding-right: 10px;
          }
        }

        .setting-holder {
          &:not(:last-child) {
            margin-bottom: 12px;
          }

          .setting-title {
            font-size: 12px;
            line-height: 1.5;
            font-weight: 600;
            margin-bottom: 6px;
          }

          .setting-content {
            position: relative;
            &:not(:last-child) {
              margin-bottom: 12px;
            }

            .input-container {
              position: relative;

              .icons-list {
                .icon-item {
                  width: 100%;
                  height: 30px;
                  cursor: pointer;
                  box-sizing: border-box;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  background: #e1ded1;
                  border-radius: 6px;
                  box-sizing: border-box;

                  &.active {
                    border: 1px solid #242424;
                    box-shadow: inset 2px 2px 8px #242424aa;
                  }

                  img {
                    width: 60%;
                    height: 60%;
                    object-fit: contain;
                    object-position: center;
                  }
                }
              }
            }

            .draggable-fields {
              min-height: 100px;
              padding: 10px;
              background: #0d99d533;
              margin-top: 12px;

              .field-item {
                font-size: 12px;
                font-weight: 600;
                margin-top: 5px;
                margin-bottom: 5px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;

                .draggable-zone {
                  background: #f0f0f0;
                  height: 24px;
                  box-sizing: border-box;
                  padding: 0 6px;
                  width: calc(100% - 70px);
                  border-radius: 3px;
                  display: flex;
                  justify-content: flex-start;
                  align-items: center;
                  border: .3px solid #0073aa;
                }

                .draggable-item-settings-wrapper {
                  display: flex;
                  justify-content: flex-end;
                  align-items: center;
                  .draggable-item-settings {
                    border-radius: 3px;
                    width: 24px;
                    height: 24px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    border: .3px solid #0073aa;
                    background: transparent;
                    transition: .3s;

                    &:hover {
                      background: #f0f0f0;
                    }

                    img {
                      width: 17px;
                      height: 17px;
                    }

                    &:not(:last-child) {
                      margin-right: 12px;
                    }
                  }
                }

                .field-details {
                  margin-top: 6px;
                  width: 100%;
                  background: #f0f0f0;
                  border: .3px solid #0073aa;
                  padding: 6px;
                  border-radius: 6px;
                }
              }
            }
            .tab-btn {
              padding: 0.5rem 1rem;
              border: 1px solid transparent;
              background: #f0f0f0;
              cursor: pointer;
              border-radius: 6px;

              &.active {
                background: #fff;
                border-bottom: 2px solid #0073aa;
                color: #0073aa;
              }
            }

            input, select {
              width: 100%;
              display: block;
              height: 24px;
              font-size: 12px;
              min-height: 24px;
            }

            input {
              box-shadow: none;
              border-radius: 0;
              border: none;
              border-bottom: 1px solid #8c8f94;
              background-color: #f9f9f9;
              color: #2c3338;

              &::marker {
                display: none;
              }

              &:focus {
                background: #fff;
              }

              &[type="color"] {
                background: transparent !important;
                border: 0 !important;
              }
            }

            .grid-2 {
              display: grid;
              column-gap: 12px;
              grid-template-columns: repeat(2, 1fr);
            }
            .grid-3 {
              display: grid;
              column-gap: 9px;
              grid-template-columns: repeat(3, 1fr);
            }
            .grid-4 {
              display: grid;
              column-gap: 6px;
              grid-template-columns: repeat(4, 1fr);
            }
            .grid {
              row-gap: 12px;
              position: relative;
              padding-right: 50px;

              &.no-padding {
                padding: 0;
              }

              label {
                font-size: 10px;
                font-weight: 600;
              }
            }

            &.tabs-section {
              display: flex;
              justify-content: space-between;
              align-items: center;
            }
          }
        }
      }



      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }
  }
}

.switcher-wrapper {
  label {
    font-weight: 600;
    margin-bottom: 6px;
    display: block;
  }
  .switcher-holder {
    width: 100%;
    border-radius: 26px;
    background: #dbe1e8;
    height: 24px;
    max-width: 60px;
    position: relative;
    cursor: pointer;
    transition: .6s;

    &:after {
      content: '';
      height: 18px;
      width: 18px;
      border-radius: 50%;
      position: absolute;
      top: 3px;
      left: 3px;
      transition: .6s;
      background: #2d4f60;
    }

    &.active {
      background: #3a4d63;
      &:after {
        left: calc(100% - 21px);
        background: #80f680;
      }
    }
  }
}

.filters-configurations {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .filters-settings {
    box-sizing: border-box;
    padding: 12px 24px;
    background: #f0f0f0;
    border-radius: 20px;
    width: 100%;
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;

    .filters-listing {
      background: #0d99d533;
      margin-top: 20px;
      max-height: 360px;
      overflow-y: auto;
    }

    @media screen and (max-width: 1100px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .filters-side {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 20px 16px;
  }
}

.listing-global-container {
  .listing-tabs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #e8e8e8;
    box-sizing: border-box;
    padding: 12px 24px;

    .settings-trigger {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .frame-selector {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: 24px;

        button {
          width: 40px;
          height: 40px;
          display: block;
          margin-left: 10px;
          cursor: pointer;
          border-radius: 4px;
          border: none;
          &.active {
            display: block;
            border: 1px solid #0A246A;
            box-shadow: inset 0 0 3px rgba(0,0,0,.2);
          }
          img {
            width: 24px !important;
            height: 24px !important;
            object-position: center;
            object-fit: contain;
          }
        }

      }

      .trigger-settings-window {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        cursor: pointer;
        display: none;
        border: none;
        margin-right: 24px;

        &.active {
          display: block;
          border: 1px solid #0A246A;
          box-shadow: inset 0 0 3px rgba(0,0,0,.2);
        }
        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    .tabs-switcher {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .tab-item {
        padding: 8px 12px;
        background: #e1ded1;
        border: .5px solid #242424;

        &.active {
          border: none;
          border-bottom: .5px solid #242424;
          background: #e8e8e8;
        }
      }
    }
  }
}

.switcher-holder {
  position: absolute;
  bottom: 3px;
  right: 0;
  cursor: pointer;
  width: 40px;

  .current-state {
    position: relative;
    font-size: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:after {
      content: '';
      margin-left: 2px;
      width: 2px;
      height: 2px;
      background: transparent;
      text-indent: -9999px;
      border-top: 1px solid #242424;
      border-left: 1px solid #242424;
      transition: all 250ms ease-in-out;
      transform: rotate(-135deg);
      text-decoration: none;
      color: transparent;
    }
  }

  .possible-states {
    position: absolute;
    z-index: 99;
    width: 100%;
    top: 100%;
    left: 0;

    .measuring-item {
      box-sizing: border-box;
      padding: 4px 2px;
      text-align: center;
      font-size: 8px;
      background: #fff;
      &:hover {
        background: #0d99d555;
      }
    }
  }
}

.filter-item-wrap {
  width: 100%;
  box-sizing: border-box;
  .filter-item {
    font-size: 12px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 8px;
    width: 100%;
    position: relative;

    .filter-top-line {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .filter-title {
        background: #f0f0f0;
        min-height: 24px;
        height: auto;
        box-sizing: border-box;
        padding: 0 20px;
        width: calc(100% - 70px);
        border-radius: 3px;
        word-break: break-all;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border: .3px solid #0073aa;
        cursor: grab;
      }

      .draggable-item-settings-wrapper {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .filter-edit {
          border-radius: 3px;
          width: 24px;
          height: 24px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          border: .3px solid #0073aa;
          background: transparent;
          transition: .3s;

          &:hover {
            background: #f0f0f0;
          }

          img {
            width: 17px;
            height: 17px;
          }

          &:not(:last-child) {
            margin-right: 12px;
          }
        }
      }
    }

    .filter-details {
      margin-top: 6px;
      width: 100%;
      background: #f0f0f0;
      border: .3px solid #0073aa;
      padding: 6px;
      border-radius: 6px;
      box-sizing: border-box;

      .detail-line {
        &:not(:last-child) {
          margin-bottom: 8px;
        }

        input, select {
          height: 24px;
          min-height: 24px;
          font-size: 12px;
          box-sizing: border-box;
          outline: none;
          transition: .3s;

          &:focus {
            border: 1px solid #0d99d5;
          }
        }
      }
    }
  }
}

.column-filters-styles {
  .settings-line {
    &:not(:last-child) {
      margin-bottom: 12px;
    }
    .input-container {
      width: 100%;
      .input-holder {
        position: relative;
        width: 100%;
      }
    }
  }
}

.preview-iframe {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}